@model IEnumerable<LaundryTimer.Appliance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceUserNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceCycleLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceCycleActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplianceCycleEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotifyOnCompletion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceUserNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceCycleLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceCycleActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplianceCycleEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotifyOnCompletion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
